<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<div>
<div class="w3-clear"></div>
<header class="w3-center w3-margin-bottom">
<br><br>
  <h1><b>Hemberg lab collection of scmap atlases</b></h1>
  <p><b>A manually curated collection of scRNAseq atlases</b></p>
<br><br>
</header>
</div>

<!-- Photo Grid -->
<div class="w3-row-padding" id="myGrid" style="margin-bottom:28px">
  <div class="w3-third" align="center">
    <a href="http://scmap.sanger.ac.uk/scmap">
        <img src="img/scmap.png" style="width:80%">
    </a>
    <p><a href="https://doi.org/10.1101/150292">Original Publication Atlas</a></p>
  </div>

  <div class="w3-third" align="center">
    <a href="http://scmap.sanger.ac.uk/#">
        <img src="img/mca.png" style="width:80%">
    </a>    
    <p><a href="https://doi.org/10.1016/j.cell.2018.02.001">Mouse Cell Atlas</a></p>
  </div>

  <div class="w3-third">
    <a href="http://scmap.sanger.ac.uk/#">
        <img src="img/tabula.png" style="width:80%">
    </a>    
    <p align="center"><a href="https://doi.org/10.1101/237446">Tabula Muris</a></p>
  </div>
</div>

<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-center w3-xlarge"> 
  <p class="w3-medium">This site is hosted by the <a href="http://www.sanger.ac.uk/">Wellcome Sanger Institute</a><br><a href="http://www.sanger.ac.uk/legal/">Terms &amp; Conditions</a> & <a href="http://www.sanger.ac.uk/legal/cookiespolicy.html">Cookies policy</a></p>
  <img src="img/sanger_logo.jpg" style="width:20%">
</footer>

</body>
</html>


